<% if users.exists? %>
  <% users.each do |user| %>
<table class='table'>
   <tr>
    <td><%= user.name %></td>
    <td>フォロー数: <%= user.followings.count %></td>
    <td>フォロワー数: <%= user.followers.count %></td>
   </tr>
</table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>